<script src="include/jqueryui/jquery.min.js" type="text/javascript"></script> 
<script src="include/jqueryui/ui/jquery.ui.core.js" type="text/javascript"></script> 
<script src="include/jqueryui/ui/jquery.ui.widget.js" type="text/javascript"></script> 
<script src="include/jqueryui/ui/jquery.ui.button.js" type="text/javascript"></script> 
<script src="include/jqueryui/ui/jquery.ui.position.js" type="text/javascript"></script> 
<script src="include/jqueryui/ui/jquery.ui.datepicker.js" type="text/javascript"></script> 
<script src="include/jqueryui/ui/jquery.ui.autocomplete.js" type="text/javascript"></script> 
<script src="include/jqueryui/ui/jquery.dataTables.js" type="text/javascript"></script> 
<link rel="stylesheet" href="include/jqueryui/themes/ui-lightness/datatable.css" type="text/css" /> 
<link rel="stylesheet" href="include/jqueryui/themes/ui-lightness/datatablepage.css" type="text/css" /> 
<link rel="stylesheet" href="include/jqueryui/themes/base/jquery.ui.all.css" type="text/css" /> 
<link rel="stylesheet" href="include/jqueryui/themes/ui-lightness/jquery.ui.autocomplete.css" type="text/css" /> 

<script>
	function activateAutoComplete(){
	
		$(".autocomplete").each(function(index){
			link=$(this).attr('autocompleteurl');
			
			$(this).autocomplete({
			source:link,
			minLength: 0,
			autoFocus:true,		
			select: function( event, ui ) {				
				$(this).change();
			}
			});
			
			$(this).click(function(){
				$(this).autocomplete("search",$(this).val());
				$(this).select();
				});


		});
	}
	$(document).ready(function(){
		activateAutoComplete();
		});
</script>

<{if isset($title)}>
<div class="content_body">
<h1><{$title}></h1>
</div>
<{/if}>
<{if isset($page_message)}>
<div class="content_body"><{$page_message}><br /><br /></div>
<{/if}>
<{if isset($err_message)}>
<hr />
<div class="errorMsg"><{$err_message}></div>
<hr />
<{/if}>
<{if isset($message)}>
<hr />
<div class="resultMsg"><{$message}></div>
<hr />
<{/if}>
<{if isset($body)}>
<div><{$body}></div>
<{/if}><br />
<{if is_array($report_sections)}>
<table width='100%' border='0' cellspacing='1' class='outer'>
<tr><th><{$smarty.const._MD_GWREPORTS_SECTION_LIST}></th></tr>

<{foreach key=sid item=section from=$report_sections }>
<tr class="<{cycle values="odd,even"}>">
<td><a href="editsection.php?sid=<{$section.section_id}>" title="<{$section.section_description|truncate:250:'...':false}>"><{$section.section_name}></a></td>
</tr>
<{/foreach}>
<tr><td align="right"><a href="newsection.php?rid=<{$report_id}>"><{$smarty.const._MD_GWREPORTS_ADMIN_SECTION_ADD}></a> | <a href="sortsections.php?rid=<{$report_id}>"><{$smarty.const._MD_GWREPORTS_ADMIN_SECTION_SORT}></a></td></tr>
</table>
<br />
<{/if}>
<{if isset($report_parameter_form)}>
<div class="parmform"><{$report_parameter_form}></div><br />
<{/if}>
<{if isset($debug)}>
<div><{$debug}></div>
<{/if}>
